# Python, PyTorch and CUDA -------------------------
# follow the official instructions at https://pytorch.org/get-started/locally/
# The codes provided in this repository have been tested under the following environments
# Python>=3.9.12
# torch>=1.11.0
# torchvision>=0.12.0
# CUDA>=11.3

# Required packages, managing packages with anaconda
conda install scipy
conda install h5py
conda install tqdm
conda install matplotlib
conda install pandas
conda install IPython

# need to install through pip
pip install opencv-python (pip install opencv-python-headless)
pip install positional-encodings[pytorch] 

